# --- SECRETS ---
# Ignore environment variables and cloud credentials
fundamental-run-472018-j4-f9e30ffa6932.json
openai-key.txt


# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr

# Misc
*.local
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.zed/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
